Suggestion: field to describe Preferred Languages

Sometimes, the people in charge of a web page are proficient enough in English to spend time understanding what they read on the web.
But sometimes, they would rather be contacted in their own language, especially if the researcher also speaks their language.
This also works for the researchers. Some of those who have something to say feel too conscious of their language skills, and therefore don't come forward at all.

It would be nice to have a simple field to describe preferred languages, or languages the security people at the website feel confident they can converse in.

I guess ISO 639-1 codes are more than enough, since it doesn't need to have the precision of the Locale.

Possible examples:
`Preferred-Languages: en; fr; es`
`Preferred-Languages: English; Français; Español`

That is a very interesting idea. I will definitely give that some thought. Thank you for your input, @GuillaumeRossolini.

@austinheap would you care to elaborate? I may not have explained it very well, but that would support my point ;)

@EdOverflow cool. I've set it on my company's website but I can't say people have been falling over themselves to report things to me. No clue how useful it would be.

Nice suggestion! When the other directives need multiple values, they are repeated multiple times within a security.txt file. Should this be done here, rather than using semicolon delimination? 

Good idea but no to ISO 639, we already have a standard for languages (and more, if necessary), RFC 5646.

@bortzmeyer While 5646 RFC has its uses, I don't see its value in this case as it is way too precise for this purpose. For example, it allows for region and script subparts, and I don't see how they would be useful here. Of course, one can simply not specify those subparts (but that would amount to ISO 639).

From a researcher standpoint, whether I see any of `fr-fr` or `fr-ca` or `fr-be` won't change what language I write in. I am comfortable in the specifics of only one of these, but any of their native speakers can understand any text well enough in whichever variant. If I am the one using a foreign language in an effort to make myself understood by the ops people on the other side, I am unlikely to know enough to write in the `fr` or `ca` or `be` variants of the `fr` superset.

Also, that RFC is hard to read and would likely have the recipient either refer to googling around or have a program translate the security.txt file for them. Or they could ignore anything after the first dash, which would also amount to ISO 639.

From an ops standpoint, whether someone sends a message as `fr-fr` or `fr-ca` or `fr-be` likely won't be apparent at all, and it definitely won't affect what team gets the message.

It feels like ISO 639 (which is part of RFC 5646) is good enough by far. When the purpose of `security.txt` shifts from a readable-format to any kind of automation, then this would need to evolve. At the moment, I don't see the need to overthink this field and have its adoption drop as a result.

Last thing about ISO 639: if we use it (it would be a bad decision), at least do not use 639-1 which is very limited in the number of languages. Use 639-3.

The bigger questions is whether we are ok with having languages codes or full language names in the spec. For example:

> `Preferred-Languages: en; fr; es`

Or:

> `Preferred-Languages: English; Français; Español`

The reason why I specifically pointed to ISO 639-2 is because I was under the impression that we can reference it by language name as opposed to code. However, after reading further, codes would probably work fine since researchers and site owners should be able to look those up, and I would agree with @bortzmeyer that using RFC 5646 is the way to move forward. This is especially true if this is the IETF approach in general.

Why not this?

Preferred-Languages: en-us; fr-ca; es-mx

If you're going to include a language preference, it should be one that
includes regional information, and is already in use across the web for
other purposes.

https://www.ietf.org/rfc/rfc1766.txt




On Wed, Jan 2, 2019 at 11:58 AM Nightwatch Cybersecurity Research <
notifications@github.com> wrote:

> The bigger questions is whether we are ok with having languages codes or
> full language names in the spec. For example:
>
> Preferred-Languages: en; fr; es
>
> Or:
>
> Preferred-Languages: English; Français; Español
>
> The reason why I specifically pointed to ISO 639-2 is because I was under
> the impression that we can reference it by language name as opposed to
> code. However, after reading further, codes would probably work fine since
> researchers and site owners should be able to look those up, and I would
> agree with @bortzmeyer <https://github.com/bortzmeyer> that using RFC
> 5646 is the way to move forward. This is especially true if this is the
> IETF approach in general.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/securitytxt/security-txt/issues/131#issuecomment-450983014>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ABcK_J1WuPZ2KcA8H7jyA5p31UI0wPmZks5u_R2FgaJpZM4YBaqx>
> .
>


@bortzmeyer I could be wrong but that section of the RFC seems to be aimed at automation, while I believe other fields of the `security.txt` format would give bots a hard time. The policy URL, for example.

@davidmays @bortzmeyer I've already tried to make my points and I'd like to read your reasoning. There's also an openness/inclusiveness angle: why restrict to given scripts when the general language is already good enough. It feels like a rethorical question to me, but please feel free to enlighten me. It may be useful with languages where scripts are very different from each other (Chinese may be an example of this, although I am not familiar with the specifics), but again, the reporter may just fall back to their language of choice over complying.

@nightwatchcyber In this case, I'd say that any globally-accepted language name ("Français", "Deutsch", "Español" _etc._, also anything close like "Francais" and "Espanol", or "French" and "Spanish") should be OK in this field since it is intended for humans. Easy to write and to understand, low probability of being misunderstood; no need to make it too constrained and the constraints would be ignored anyway.

Cheers

> since it is intended for humans

I could imagine a security researcher who has discovered a security vulnerability that effects hundreds of sites. They preperare an email in multiple languages. They write a tool to send an email to all vulnerable sites, picking the most appropriate language each time. The detection of the vulnerabilities could be manual or automatic, but they are just trying to reduce their workload as much as possible.

In this example, the field must be parsable by humans.

@GuillaumeRossolini Nothing in RFC 1766 prohibits a language-only tag without the optional country code subtag.

It uses ISO-649 identifiers for the primary tag, and ISO 3166 country codes for the optional country code subtag.

I propose following that RFC as it is flexible, ubiquitous, and well-understood by people building and operating websites.


I would make an argument for following RFC 5646, which is what HTTP does:
https://tools.ietf.org/html/rfc7231#section-3.1.3

The syntax would as follows (or commas):
> Preferred-Languages: en, fr, es

With optional subtags if needed


@nightwatchcyber I would support that as well, given it is ultimately the most current replacement for RFC 1766. It is even more flexible and extensible, while simultaneously not prohibiting very simple formats.

> This document replaces [RFC4646] (which obsoleted [RFC3066] which, in
   turn, replaced [RFC1766]).  This document, in combination with
   [RFC4647], comprises BCP 47.  For a list of changes in this document,
   see Section 8.


> https://www.ietf.org/rfc/rfc1766.txt

Note that RFC 1766 was deprecated 17 years ago.

Although I do like the various suggestions here concerning which specification we should follow, I really like @bortzmeyer's idea of using RFC 5646 since it appears to be the usual IETF approach.

On a side note, if we do implement this, `Accepted-Languages` might be better suited than `Preferred-Languages`, since the latter could "scare" security researchers away — it gives the impression that one should really be writing their report in the preferred language and that there is no other option. The term "accepted" seems more open and welcoming to me.

I am still giving this more thought and playing around with various ideas. I will report back when I have some other suggestions.

I disagree, "Accepted" suggests that all other languages will not be "accepted" at all, they will be ignored. However, "Preferred" suggests that if a different language is used, it will go against the preference, but it will still be read and dealt with.

I agree that "preferred" should be used. As an example, consider a scenario where an item costs €4 and the vendor has a sign stating "we accept €1 and €2 coins" versus "we prefer €1 and €2 coins". I read the "accept" sign as excluding potential customers who only have a notes and no coins, whereas the "prefer" sign would not.

I stand corrected. Thank you for the analogy, @fredden, that definitely convinced me that "preferred" is better suited.

I have a proposed pull request (#138) with the language adding this field. However, @EdOverflow raised a question of default - if this field is not specified, do we assume a default language of some kind, or nothing at all?

The only relevant thing I was able to find is RFC 2277 which seems to imply that English is the default (section 4.5):
https://tools.ietf.org/html/rfc2277
https://www.iana.org/assignments/lang-tags/i-default


I'm guessing English is the language we all assumed would be the default?

The meta tags of the HTML can rarely be relied upon, and anyway the language that's presented by default on tyre website isn't guaranteed to reflect its operator's preferred communication.

> Reminds me of a discussion on the NANOG mailing list. Some network admin was complaining that his abuse reports in english sent to a chinese operator were ignored. A colleague asked him "what would happen of abuse reports sent in chinese to you?" :-)

All jokes aside - do we want to specify a default or specifically say there is no default? RFC 2277 strongly suggests the default is English.