Missing RFC reference

It is my opinion that the RFC draft should reference `RFC3013` (in particular section 2) in addition to the existing `RFC2142` reference.

https://tools.ietf.org/html/rfc3013#section-2.1

Thank you for bringing that up, @wireghoul. Are there any particular reasons why you think we should refer to `RFC3013`? I do not personally see anything defined in that document that we implement in security.txt.

IMHO there is a clear overlap, but disjointed information. Section 2 of RFC3013 clearly covers communication around reporting security vulnerabilities, but is from an internet era that predates the "security is everyones job" way of thinking.

I think security.txt have a greater chance at adoption and can help ensure their users comply with both. Here is a list of the items that overlap of the top of my head:

**Section 2.1**

> ISPs may consider using common URLs for expanded details on the above
>    (e.g., http://www.ISP-name-here.net/security/).

You're using a different url, perhaps suggest a redirect?

**Section 2.2**
You have no option to declare information sharing up front. This may not seem important and you may feel like the presence of security.txt means corporations wont take actions which can result in legal consequences for researchers, but I'm afraid we don't live in a utopian world. This might be a good place to suggest 3rd party arbitrage for concerned researchers.

**Section 2.3**
Seems a clear overlap with your section 3.4...

**Section 2.4**
Overlaps with your section 3.3, 3.6 and 3.7



Hi - I think this overlaps conceptually but the scope is very different. The "security.txt" draft is tied to domains, and sometimes local resources or IPs - but RFC 3013 is focused on ISP security, so it is tied to the network space and is similar to the abuse information published in RIR registries.

With that being said, I don't see a problem with referencing RFC 3013 and whatever the equivalent is for RIRs, with both being informational RFCs.

@wireghoul, I think what stood out for me was the fact you refer to this as a "missing" reference, when in fact, as @nightwatchcyber pointed out above, these two documents have very different scopes. That being said, I will probably add a reference as an informational RFC in our draft as @nightwatchcyber suggested, because I definitely think it is an interesting read.

Resolved in https://github.com/securitytxt/security-txt/commit/73623a717b93c97d9617885dd2b2ba51df88f18b. Thank you for bringing this up, @wireghoul.