Permitted values of Acknowledgments field?

Hi, I'm working on python based parser/validator of securitytxt file and one thing is not clear to me: RFC draft sec. 3.5.1 says: 

"This field indicates a link to a page" and a few lines below it says "If this field indicates a web URI,". So what is the permitted content of this field? The second quotation suggests that it might be something else then a web URI, which contradicts with the first one I think. 

Would "Acknowledgments: None" be considered valid or not? Or can you state other content considered to be valid that does not start with "https"?

If you look in section 5 where the ABNF grammar is, you will find the following:
```
ack-field        =  "Acknowledgments" fs SP uri
```

And:
```
uri              =  < URI as per section 3 of [RFC3986] >
```

This could be any kind of URI, including a non-web one such as a "tel:", etc. although the intent is primarily to be used with web links. URIs are defined here:
https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml


Thank you for clarification. One other question (so I do not have to create another issue) - spelling Acknowledgments vs Acknowledg**e**ments. RFC defines the first spelling variant, but some websites use the second one (e. g. Google, Dropbox,...). Is this somehow considered to be OK or should I strictly consider the "Acknowledg**e**ments" version invalid?