Last call: Change language around "directive"

As per message from @cabo:
https://mailarchive.ietf.org/arch/msg/saag/d9lu-1MQK6LahovGQxi0-VAeUEI

> I also believe this text need some good reread.  E.g., the following two sentences lead to obvious nonsense: »   This text file contains multiple directives with different values.
   The "directive" is the first part of a field all the way up to the
   colon ("Contact:") and follows the syntax defined for "field-name" in
   section 3.6.8 of [RFC5322].  «
Do the values really need to be different?  Isn’t the file containing fields, not just the directives (which demonstrates that “directive” is a bad name for a directive name)?

Addressed in the -09 draft