Should the datetimes use an ISO8601 profile?

**Is your feature request related to a problem? Please describe.**

The current datetime standard used (RFC5322) can be difficult to parse.  Not all humans speak English, which makes the day and month abbreviations a little confusing.

**Describe the solution you'd like**

ISO8601.  I know that it's a paid-for standard, so I suggest using a profile of it:

* [RFC 3339](https://tools.ietf.org/html/rfc3339), which simplifies ISO 8601 for use in internet protocols by leaving out infrequently used levels of accuracy
* [W3C date and time format](https://www.w3.org/TR/NOTE-datetime), which is an ISO 8601 profile written to simplify its use in WWW standards

**Describe alternatives you've considered**

The spec currently says

>  The value of this field follows the format defined in section 3.3 of [RFC5322]

That's a fine standard. And while there are plenty more datetime standards, I think an 8601 profile strikes the right balance between machine readability and human readability. 

**Additional context**

Re: https://github.com/securitytxt/securitytxt.org/issues/72


I am asking IETF members about this. Thank you for referencing RFC 3339.

IETF consensus seems to point to RFC 3339, I updated the GitHub version of the draft to reflect that.