Add language to address redirects and edge cases

From [this message](https://www.ietf.org/mail-archive/web/saag/current/msg08478.html) by @letoams:

> On 01/08/2019 08:06 PM, Randy Bush wrote:
> >> If http://example.com is compromised, and you grab
> >> http://example.com/security.txt,
> > 
> > don't do that
> > 
> > and, in anything but trivial environments, it is foo.example.com that
> > is compromised and the security.txt is on example.com
> 
> First, in _most_ domains, APEX and www. are all there is, and usually the same server. So you have no choice but to grab it from the compromised host. Are you
> saying this method should not be used at all for the majority of websites because of this limitation? So what if www.nohats.ca is bad and you want to find my
> security.txt? Turns out www.nohats.ca is the same as nohats.ca. You cannot just curl for the security.txt because you might get redirected to the bad server.
> And what do you if those are the same? Should the draft talk about this?
> 
> Also, to me it had not been clear that the intend was to only put it on the main domain and not on each server within the domain. I thought the problem being
> addressed was that there is ams.nl.service.example.com and that a contact from whois/rdap for the whole example.com would not lead to the right contact, and so
> instead the server itself would publish a security.txt. But it seems now that people would need to crawl for zonecuts because it is planned to only appear at
> the apex or "subdomains" as I read it now:
> 
>    The file is named "security.txt", and this file SHOULD be placed
>    under the /.well-known/ path ("/.well-known/security.txt") [RFC5785]
>    of a domain name or IP address for web properties.
> 
> [Note I had not realised the subtlety of "of a domain name". I think the draft should make it very clear how to handle reporting hosts within a domain using the
>  top level domain. If the idea is that for www.example.com you go to a example.com/.well-known/security.txt it should be made more clear. And then talk about
> the problem of the apex and www. being the same host]
> 
> 
>    Some examples appear below:
> 
>    # The following only applies to example.com.
>    https://example.com/.well-known/security.txt
> 
>    # This only applies to subdomain.example.com.
>    https://subdomain.example.com/.well-known/security.txt
> 
>    # This security.txt file applies to IPv4 address of 192.0.2.0.
>    http://192.0.2.0/.well-known/security.txt
> 
> [note: this ending in .0 is very confusing. Is it mean to cover the whole /24 ?]
> 
>    # This security.txt file applies to IPv6 address of 2001:db8:8:4::2.
>    http://[2001:db8:8:4::2]/.well-known/security.txt
> 
>    # This security.txt file applies to the /example/folder1 directory.
>    /example/folder1/security.txt
> 
> 
> Here, the "subdomain.example.com" hides the problem of not knowing administrative cuts. Is toronto.bank.site a domain or subdomain? What about
> paul.lawyers.website? what about example.gc.ca ? or example.gc.com ?
> 
> 
> 
> So where do you now find a security.txt for  ams.nl.service.example.com ? It seems the draft now dictates you:
> 
> - look for a subdomain zonecut for nl.service.example.com
>   - if found, look for /.well-known/security.txt
>     - if not found, look for /security.txt
> - look for a subdomain zonecut for service.example.com
>   - if found, look for /.well-known/security.txt
>     - if not found, look for /security.txt
> - look for a subdomain zonecut for example.com
>   - if found, look for /.well-known/security.txt
>     - if not found, look for /security.txt
> - look for server named .com
>   - if found, look for /.well-known/security.txt
>     - if not found, look for /security.txt
> 
> And that's before we start talking about how to handle HTTP vs HTTPS resources which could end up on different VHOST configurations.
> 
> As for the examples for the IP address, I'm also confused. If 193.110.157.66 needs to be reported on, and I should not go to the compromised
> host itself, so not try  http://193.110.157.66/.well-known/security.txt? Do I have to try http://193.110.157.0/.well-known/security.txt or
> do I try http://157.110.193.in-addr.arpa/.well-known/security.txt ? Also if the /24 is malicious and I want to go "one level up" that's also
> a really hard problem, because now you need to do DNS queries to see if this is a /24 from a /16 or straight from the RIR.
> 
> The document should really elaborate on these scenarios. The examples only illustrate more problems, and more possible unclear locations of where
> to find these. I doubt any of these will ever see a real use because of the problems I cited above.

Wow this relates quite a lot to part of what I was just getting at with #142 moments ago. What if I want a security policy regardless of if the researcher types in the IP or the domain? What if I want to secure www and apex at the same time without needing 2 separate files and well-known folders, canonical links and signatures?

Added language in section 4.1:

> 
> 
>    If retrieval of a "security.txt" file results in a redirect (as per
>    section 6.4 of [RFC7231]), the implementors MUST NOT follow redirects
>    that lead to another domain or subdomain but SHOULD follow redirects
>    within the same domain name (but not different subdomain on the same
>    domain).
> 
>    This does not apply to resource locations that appear within the
> file.

Leave this open since the redirect issue may merit further discussion

> Added language in section 4.1:
> 
> > If retrieval of a "security.txt" file results in a redirect (as per
> > section 6.4 of [RFC7231]), the implementors MUST NOT follow redirects
> > that lead to another domain or subdomain but SHOULD follow redirects
> > within the same domain name (but not different subdomain on the same
> > domain).
> > This does not apply to resource locations that appear within the
> > file.

This restriction is not helpful:

First, it is an issue for deployments: If I, say, have an nginx rule to redirect all www.example.com calls to example.com, I would need to make an exception for the security.txt file.

Second, if I know of a problem on www.example.com and want to use the information at https://www.example.com/.well-known/security.txt to reach out to somebody at www.example.com, it does not make a difference if I follow a redirect to a completely different host or not.

In the end, if www.example.com is compromised, it does not make a difference for an attacker to either modify the information in the security.txt file, have it redirect to a compromised file on the same domain, or have it redirect to a different domain under the attacker's control.

Even the ACME protocol allows for redirects, see Section 8.3 of RFC 8555: 
```The server SHOULD follow redirects when dereferencing the URL.
   Clients might use redirects, for example, so that the response can be
   provided by a centralized certificate management server.  See
   Section 10.2 for security considerations related to redirects.```

Webfinger (RFC 7033) allows for redirections:
```   A WebFinger resource MAY redirect the client; if it does, the
   redirection MUST only be to an "https" URI and the client MUST
   perform certificate validation again when redirected.```



One more thing: 

https://www.example.com/security.txt is much more susceptible for an "accidental redirect" (e.g., URL shortener case brought up in Issue #112).

https://www.example.com/.well-known/security.txt by definition should be safe from that. 

I might be useful to disallow redirects for https://www.example.com/security.txt but to allow them for https://www.example.com/.well-known/security.txt

> In the end, if www.example.com is compromised, it does not make a difference for an attacker to either modify the information in the security.txt file, have it redirect to a compromised file on the same domain, or have it redirect to a different domain under the attacker's control.

@danielfett, I agree with you and I am sure @nightwatchcyber does too. The section you highlighted though does not attempt to address the case where `www.example.com` is compromised but much rather the situation where the redirect endpoint itself has been hijacked. In other words, the scenario where `www.example.com` redirects to `www.foobar.com` and `www.foobar.com` has been compromised. By reducing the scope of a security.txt file, we reduce the scope of a malicious security.txt file too.

That being said, this is still open for discussion since some people may argue that security.txt files are primarily designed to be read by humans; therefore, it is futile to expect the reader to behave like a robot and follow rules such as the "no-redirect" one listed above.

> It might be useful to disallow redirects for https://www.example.com/security.txt but to allow them for https://www.example.com/.well-known/security.txt

This definitely does sound like a solid solution to reducing security.txt's attack surface and I agree namespace attacks are far more likely to affect the `/security.txt` endpoint.

@nightwatchcyber, what are your thoughts on this?

I think I am ok with this:

> It might be useful to disallow redirects for https://www.example.com/security.txt but to allow them for https://www.example.com/.well-known/security.txt

Addressed in the -09 draft